@media screen and (min-width: 480px) {
  .container {
    position: relative;
    max-width: 426px;
  }
}

/* =======Heading============ */
@media screen and (min-width: 480px) {
  .heading-container.container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .modal {
    width: 392px;
  }
}

/* ==============Features============ */

/*0px-1199px  */
@media screen and (max-width: 1199px) {
  .images {
    display: none;
  }
}
