@media screen and (min-width: 480px) {
  .container {
    position: relative;
    max-width: 426px;
  }
}

/* =======Heading============ */
@media screen and (min-width: 428px) {
  .heading-container.container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .heading {
    max-width: 767px;
    background-image: linear-gradient(to bottom, var(--bgcolor), var(--bgcolor)),
      url(../images/darkbg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .heading {
      background-image: linear-gradient(
          to bottom,
          var(--bgcolor),
          var(--bgcolor)
        ),
        url(../images/darkbg-tablet@2x.jpg);
    }
  }
  .modal {
    width: 392px;
  }
  .mobile-list-soclink {
    gap: 56px;
  }
  .mobile-tel {
    font-size: 36px;
  }
  .heading-title {
    font-size: 36px;
  }
}
