:root {
  --main-text-color: #434455;
  --title-color: #2e2f42;
  --web-color: #4d5ae5;
  --white-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --cloud-background: #f4f4fd;
  --bgcolor: rgba(46, 47, 66, 0.7);
  --main-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}

body {
  color: var(--main-text-color);
  background-color: var(--white-color);
  font-family: var(--main-font-family);
  letter-spacing: 0.02em;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden { 
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid sienna; */
}

.section { 
  padding-top: 96px;
  padding-bottom: 96px;
}
/* =================================Header==================================== */
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-color);
}

.logo-studio {
  color: var(--title-color);
}

.mobile-menu-close,
.mobile-menu-open {
  background-color: var(--white-color);
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu-open-icon {
  stroke: black;
}
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid var(--title-color);
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--white-color);
  transition: opacity var(--trans), visibility var(--trans), translate var(--trans);
}
.mobile-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scaleY(0);
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
}
.mobile-menu-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 40px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color var(--trans);
}
.mobile-menu-close-icon {
}
.mobile-menu-list {
  margin-bottom: 40px;
}
.mobile-menu-item {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-color);
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-link-studio,
.mobile-link-portfolio,
.mobile-link-contacts {
  color: var(--title-color);
  transition: color var(--trans);
}

.mobile-link-studio:hover,
.mobile-link-portfolio:hover,
.mobile-link-contacts:hover,
.mobile-link-studio:focus,
.mobile-link-portfolio:focus,
.mobile-link-contacts:focus {
  color: #404bbf;
}
.mobile-contact-list {
  margin-bottom: 48px;
}
.mobile-contact-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--web-color);
}
.mobile-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--main-text-color);
}

.mobile-list-soclink {
  display: flex;
  gap: 56px;
}

.mobile-soclink {
  height: 40px;
  width: 40px;
}

.empsoclink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--web-color);
  border-radius: 50%;
  transition: background-color var(--trans);
}
.empsoclink:hover,
.empsoclink:focus {
  background-color: #404bbf;
}
/* =================================Heading===================================== */

.heading-container.container {
  padding-left: 0;
  padding-right: 0; }

  .heading { 
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(to bottom, var(--bgcolor), var(--bgcolor)),
    url(../images/Dark-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--title-color)Ð¶
  
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx)
{
  .heading { background-image: linear-gradient(to bottom, var(--bgcolor), var(--bgcolor)),
    url(../images/Dark-bg-mobile@2x.jpg);
  }
}


.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}
.heading-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--white-color);

  margin-bottom: 72px;
}
.button {
  background-color: var(--web-color);
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;

  border-radius: 4px;
  border: transparent;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans), box-shadow var(--trans);
}

.button:active {
  background-color: #404bbf;
}
.button:hover,
.button:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

 /*============= MODAL WINDOW ===========*/
.backdrop { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--trans),
  visibility var(--trans);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)  scaleY(1);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  width: 392px;
  height: 586px;
  border-radius: 4px;
  background-color: rgba(252, 252, 252, 1);
  transition: transform var(--trans);
  
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  margin-left: auto; 
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color var(--trans);
}
.modal-btn-icon {
  transition: fill var(--trans);
}

.modal-btn:hover {
  background-color: #404bbf;
}
.modal-btn:hover .modal-btn-icon {
  fill: #ffffff;
}
.modal-form {

}
.modal-text {
 text-align: center;
 font-weight: 500;
 line-height: 1.5;
 color: var(--title-color);
 margin-bottom: 14px;

}
.modal-form-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 8px;
}
.modal-form-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
}
.input-wrapper-icon {
position: relative;
display: block;
}
.modal-form-input {
  padding: 0 38px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--trans);
}
.input-icon {
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 24px;
transform: translateY(-50%);
padding-left: 19px;
transition: fill var(--trans);
}
 .name {
 height: 18px; 
}
.modal-form-input:focus, 
.modal-form-coment:focus,
.form-mail:focus
 {
 border: 1px solid var(--web-color)
}
.modal-form-input:focus + .input-icon {
  fill: var(--web-color) ;
}
.modal-form-coment{
  resize: none;
  width: 100%;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border var(--trans);
}
.modal-form-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

}
.wrapper-accept {
  position: relative;
}
.modal-accept {
  width: 16px;
  height: 16px;
  border: 1.25px solid rgba(46, 47, 66, 1)
}
.modal-accept-label {
  margin-left: 20px;
font-family: var(--main-font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #757575;
}
.icon-check{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1.25px solid #2E2F42;
  border-radius: 2px;
  background-color: var(--white-color);
  fill:transparent;
  padding: 3px 2px;
  transition: background-color var(--trans),
  fill var(--trans);
}
  
.modal-accept:checked + .icon-check{
background-color: var(--web-color);
fill:var(--white-color);
}
.modal-accept-link {
  color: var(--web-color);
}

.button-modal-form {
  background-color: var(--web-color);
  width: 169px;
  height: 56px;
  border: transparent;
  border-radius: 4px;
  display: block;
  margin: 0 auto ;
  padding: 16px 32px;
  cursor: pointer;
  margin-top: 24px;

  font-weight: 500;
  line-height: 1.5em;
  color: var(--white-color);
  transition: background-color var(--trans), 
  box-shadow var(--trans);
}
 
.button-modal-form:focus,
.button-modal-form:hover {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-modal-form:active {
  background-color: #404bbf;
} 

/* ==================Features section================== */

.feature-caption {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  margin-bottom: 8px;
}
.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* ============ Employees section========================*/

.employees { 
  background: var(--cloud-background);
}
.employees-title,
.title-customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--title-color);
} 
.employees-title {
  margin-bottom: 72px;
}
.employees-icon {
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.employees-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-color);

  margin-bottom: 8px;
}
.employees-text {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.employees-sign {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.employees-list-link {
  display: flex;
  gap: 24px;
}
.employees-link {
  height: 40px;
  width: 40px;
}

.empsoclink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--web-color);
  border-radius: 50%;
  transition: background-color var(--trans);
}
.empsoclink:hover,
.empsoclink:focus {
  background-color: #404bbf;
}


/*===============Customers section ================== */

.customers { 
  padding-top: 96px;
  padding-bottom: 96px;
}
.title-customers {
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}
.customer-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}
.customer-item-icon {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #8e8f99;
  transition:  border-color var(--trans),
  fill var(--trans);
}

.customer-item-icon:hover,
.customer-item-icon:focus {
  border-color: #404bbf;
  fill: #404bbf;
}

/* ========= footer ============== */
 
.footer {
  background-color: var(--title-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-tumbh {
  text-align: center;
  max-width: 268px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-color);
  
}
.logo-studio-footer {
  color: var(--cloud-background);
}

.footer-text {
  font-weight: 400;
  line-height: 1.5;
  color: var(--footer-text-color);
  text-align: center;
  margin-top: 16px;
  
}
.footer-link {
  margin-bottom: 72px;
}

.title-footer-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--white-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
.footer-link-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

}

.footer-link-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--cloud-background);
}
.footer-link-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--cloud-background);
  transition: background-color var(--trans);
}

.footer-link-svg:hover,
.footer-link-svg:focus {
  background-color: #31d0aa;
}
.form-mail{
  display: block;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2E2F42;
  padding: 8px 16px;
  margin-bottom: 16px;
  color: var(--white-color);
   transition: border var(--trans);
}
.form-mail::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.button-footer-mail {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--web-color);
  width: 165px;
  height: 40px;
  outline: none;
  border-color: transparent;
  border-radius: 4px;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color var(--trans), 
  box-shadow var(--trans);
}
.button-footer-mail:focus,
.button-footer-mail:hover {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-footer-mail:active {
  background-color: #404bbf;
}

.button-form-text {
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: rgba(255, 255, 255, 1);
}
.footer-pointer {
  fill: var(--footer-text-color);
}



/* =========== Portfolio =============*/

 .portfolio { 
  padding-top: 96px;
}
.list-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-button {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--web-color);
  background-color: var(--cloud-background);
  cursor: pointer;

  padding: 12px 24px;
  border: transparent;
  border-radius: 4px;
  transition: background-color var(--trans),
   color var(--trans), 
   box-shadow var(--trans);
}
.item-button:not(:last-child) {
  margin-right: 24px;
}

.portfolio-button:active,
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--web-color);
  color: var(--white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
  width: calc(100%-48px) / 3;
}
.img-portfolio {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition:  box-shadow var(--trans);
}

.img-portfolio:hover,
.img-portfolio:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.overloy-thumb {
  position: relative;
  overflow: hidden;
}
.overloy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 1.5;

  transform: translatey(300px);
  transition: transform var(--trans);
}
.img-portfolio:hover .overloy {
  transform: translatey(0);
}

.sign-portfolio {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.subtitle-portfolio {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);

  margin-bottom: 8px;
}
.text-portfolio {
  line-height: 1.5;
}
