@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu,
  .mobile-menu-open {
    display: none;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-link {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: block;
  }

  .logo {
    margin-right: 123px;
  }
  .item-link {
    position: relative;
  }

  .link-studio,
  .link-portfolio,
  .link-contacts {
    font-weight: 500;
    line-height: 1.5;
    color: var(--title-color);
    display: block;
    transition: color var(--trans);
  }
  .link-studio.current::after,
  .link-portfolio.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: translatey(29px);
  }

  .item-link:not(:last-child) {
    margin-right: 40px;
  }

  .link-studio:hover,
  .link-portfolio:hover,
  .link-contacts:hover,
  .link-studio:focus,
  .link-portfolio:focus,
  .link-contacts:focus,
  .link-studio:active,
  .link-portfolio:active,
  .link-contacts:active,
  .link-studio.current,
  .link-portfolio.current {
    color: #404bbf;
  }
  .tel,
  .mail {
    color: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: color var(--trans);
  }
  .mail {
    margin-bottom: 4px;
  }

  .tel:hover,
  .tel:focus,
  .mail:hover,
  .mail:focus {
    color: #404bbf;
  }
}

/* ===============heading=============== */

@media screen and (min-width: 768px) {
  .heading {
    padding-bottom: 108px;
    max-width: 1200px;
    background-image: linear-gradient(to bottom, var(--bgcolor), var(--bgcolor)),
      url(../images/darkbg-desktop.jpg);
  }
  .heading-title {
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 40px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .heading {
    background-image: linear-gradient(to bottom, var(--bgcolor), var(--bgcolor)),
      url(../images/darkbg-desktop@2x.jpg);
  }
}

/* ===========Features=========== */
@media screen and (min-width: 768px) {
  .features > .container {
    max-width: 766px;
  }

  .feature-caption {
    text-align: left;
  }
  .item-feature:not(:last-child) {
    margin-bottom: 0;
  }

  .item-feature {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
/* ========  section 4 Співробітники =======*/
@media screen and (min-width: 768px) {
  .employees > .container {
    max-width: 582px;
  }
  .employees.section {
    padding-bottom: 104px;
  }
  .employees-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

/*767px-1199px  */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .employees > .container {
    max-width: 582px;
  }
}
/*=========Customers клієнти ======= */
@media screen and (min-width: 768px) {
  .customers > .container {
    max-width: 582px;
  }

  .customer-list {
    column-gap: 24px;
  }
  .customer-item {
    flex-basis: calc((100% - 48px) / 3);
    height: 88px;
  }

  /* ========= footer підвал ============== */
  .footer > .container {
    max-width: 526px;
  }
  .footer-tumbh-link {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    margin: 0 auto;
  }
  .footer-tumbh {
    margin: 0;
    width: 264px;
  }
  .logo-footer {
    justify-content: left;
  }
  .form-mail {
    display: inline-block;
    width: 264px;
  }
  .footer-link {
    margin-bottom: 0;
  }
  .mail-footer-wrapper {
    display: flex;
    gap: 24px;
  }
  .title-footer-link {
    text-align: left;
  }
  .footer-tumbh,
  .footer-text {
    text-align: left;
  }
  .modal {
    width: 408px;
  }

  /* ================= Portfolio ==================*/
  .list-buttons {
    justify-content: center;
    margin-bottom: 64px;
  }
  .overloy-thumb {
    height: 300px;
    width: 356px;
  }
}
